[Unit]
Description=Xenium Programmer

[Service]
WorkingDirectory=/home/pi/XP-chip
ExecStart=/home/pi/XP-chip/xeniumListenerCHIP

[Install]
WantedBy=multi-user.target
